
@import 'styles-global.scss';

// style(general)
*{
    margin: 0em 0em;
    padding: 0em 0em;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

hr{
  background: #fff;
  margin: 2em auto;
}

#cms{
  width: 100%;  
  min-width: 100%;
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;

  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background: #ccc;
  // @include gradiente2(); 

  overflow-x: hidden; 
  overflow-y: hidden;    

  color: white;  
  h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-bottom: 1em;
  }    
}

.notie-container{
  z-index: 10000000000 !important;
}

#calendar {
  max-width: 900px;
  margin: 40px auto;
}

.iportancia_ot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 0 3px;
}

.status_op {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #92d050;
  margin: 0 3px;
}

.item_pendiente {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #00b0f0;
  margin: 0 3px;
}

.item_finished {
  height: 25px;
  margin: 0 3px;
}

.caja_status {
  position: absolute;
  height: auto;
  width: auto;
  top: 20px;
  right: 20px;
  display: flex;
}

.caja_status_item {
  position: absolute;
  height: auto;
  width: auto;
  top: 11px;
  right: 10px;
  display: flex;
}

// .popover {
//   background: rgba(0, 0, 0, .4);
//   color: #fff;
//   font-size: 16px;
// }

.popover-body {
  background: rgba(0, 0, 0, .4);
  color: #fff;
  font-size: 16px;
}

.popover .arrow:after {
  border-top-color: rgba(0, 0, 0, .4);
}

.open_list {
  height: calc(90vh - 55px) !important;
}

.open_list2 {
  height: calc(90vh - 220px) !important;
}

.close_list {
  height: 0% !important;
}

.tr_selected {
  background: #d9d9d9;
  border-left: 25px solid #fd5e13;
}

// .text_orange {
//   color: #fd5e13;
//   font-weight: 800;
// }

// .text_resaltado {
//   color: #000;
//   font-weight: 800;
// }

#backSideNav {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  display: none;
}