// INFO: ESTILOS DE LA PÁGINA DE pages/web-perfil.php

// importo estilos globales.
@import '../styles-global.scss';

//******************************************************
//*  PANEL HOJA DE RUTA                                *
//******************************************************

#hoja {
    background: url(../../images/img/back-hoja.png);
    background-size: cover;
    background-position: center center;
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .main_hoja {
        height: 90%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        div{
            padding: 20px 10px;
            background: rgba(131, 131, 131, 0.5);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            h3 {
                font-size: 5vw;
                font-weight: bold;
                margin-bottom: 25px;
            }
    
            h5 {
                font-size: 4vw;
                font-weight: bold;
                line-height: 15px;
                margin-bottom: 20px;
            }
    
            img {
                margin-top: 10px;
                height: 60px;
            }

            .img_ancha {
                height: 40px;
            }   
        }
    }  
}

//******************************************************
//*  PANEL ORDEN DE TRABAJO                            *
//******************************************************

#panel-ots {
    background: url(../../images/img/ots.png);
    background-size: cover;
    background-position: center center;
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .main-ots {
        height: 85%;
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        width: 100%;

        div{
            padding: 20px 10px;
            background: rgba(131, 131, 131, 0.5);
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            h3 {
                font-size: 21px;
                font-weight: bold;
                margin-bottom: 25px;
            }

            h4 {
                font-size: 5vw;
                font-weight: bold;
                margin-bottom: 0px !important;
            }

            span {
                font-size: 21px;
                font-weight: bold;
                color: #fd5e13;
            }
    
            h5 {
                font-size: 4vw;
                font-weight: bold;
                line-height: 15px;
                margin-bottom: 20px;
            }
    
            img {
                margin-top: 10px;
                height: 50px;
            }
        }
    }

    .main_super {
        background: rgba(131, 131, 131, 0.5);
        display: flex;
        justify-content:space-around ;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        padding: 5px 0;

        h3 {
            font-size: 5vw;
            font-weight: bold;
            margin-bottom: 0;
        }
    }
}

//******************************************************
//*  PANEL COMENZA TU DIA                            *
//******************************************************

#panel_comenza {
    height: 90vh;
    .div_header {
        background: #fd5e13;
        position: relative;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 20vh;

        div {
            display: flex;
            justify-content: left;
            align-items: flex-end;
            p {
                margin-left: 30px;
                color: #fff;
                font-size: 30px;
                line-height: 17px;
                text-align: left;
                margin-bottom: 0px;
                font-weight: 500;
                span {
                    font-size: 16px;
                    margin-top: 5px;
                }
            }
            
            img {     
                width: 55px;
                margin-left: 25px;
            }
        }        
    }
    
    .main_comenza {
        background: url(../../images/img/back_comenza.png);
        background-size: cover;
        background-position: center center;
        height: 70vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 25px;
        flex-flow: column;
        overflow-y: scroll;
        font-weight: 600;
        
        .modal_check_clave {
            .modal-dialog {
                margin: 1.5rem;
            }

            .modal-body {
                padding: 1rem 2rem;
                p {
                    color: #fd5e13 !important;
                    margin-bottom: 40px;
                }
    
                label {
                    color: rgb(180, 180, 180);
                }
    
                input {
                    border: none;
                    border-bottom: 2px #ccc solid;
                    text-align: center;
                    margin-bottom: 20px
                }

                span {
                    color: #ff0000;
                    font-weight: 600;
                }
    
                div {
                    margin-top: 20px;
                    .btn_ok {
                        border: none;
                        background: transparent;
                        color: rgb(180, 180, 180);
                        margin-right: 60px;
                    }
        
                    .btn_nook {
                        border: none;
                        background: transparent;
                        color: #fd5e13;
                        font-weight: bold;
                    }
                }
            }
        }

        .login_white_box {
            background: #fff;
            border-radius: 15px;
            padding: 15px 5px;
            width: 70vw;

            input{
                background: transparent;
                border-color: transparent;
                border-bottom: solid 2px #ccc;
                text-align: center;
            }
        }

        .btn_ingresar_clave {
            background-color: #fd5e13 !important;
            font-size: 15px;
            padding: 3px 0 !important;
            width: 50vw;
            border-radius: 5px;
            color: #fff;
            margin-top: 0px;
            margin-bottom: 10px;
            flex-shrink: 0;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
            -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
            box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
        }

        .btn_desempeño {
            display: none;
            background-color: #fd5e13 !important;
            font-size: 15px;
            padding: 3px 0 !important;
            width: 50vw;
            border-radius: 5px;
            color: #fff;
            margin-top: 0px;
            margin-bottom: 10px;
            flex-shrink: 0;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
            -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
            box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
        }

        .btn_iniciar_break {
            background-color: #a6a6a6 !important;
            font-size: 15px;
            padding: 3px 0 !important;
            width: 50vw;
            border-radius: 5px;
            color: #fff;
            margin-top: 10px;
            margin-bottom: 20px;
            flex-shrink: 0;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
            -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
            box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
        }

        #timer_break {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            div {
                font-size: 25px;
                color: #fff;
            }
        }

        #timer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            div {
                font-size: 40px;
                color: #fff;
            }
        }

        .div_break_things {
            display: none;
        }

        #datos_gestion {
            width: 80%;
            padding: 10px 15px 10px 15px;
            background: rgba(131, 131, 131, 0.5);
            text-align: left;
            margin-top: 15px;
            display: none;
            flex-shrink: 0;

            h5 {
                font-size: 14px;
                font-weight: bold;
                line-height: 15px;
                margin-bottom: 15px;
            }

            p {
                font-size: 13px;
                line-height: 18px;
                margin-bottom: 0;               
            }

            .p_gestion {
                padding-right: 25%;
            }

            span {
                float: right;
            }

            hr {
                margin: 7px auto;
            }
        }

          
    }

}

//******************************************************
//*  PANEL SERVICIOS                           *
//******************************************************

#panel-servicios {
    background: url(../../images/img/ots.png);
    background-size: cover;
    background-position: center center;
    height: 90vh;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .main-servicios {
        height: 90%;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        width: 100%;

        div{
            padding: 20px 10px;
            background: rgba(131, 131, 131, 0.5);
            text-align: center;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;

            h3 {
                font-size: 21px;
                font-weight: bold;
                margin-bottom: 25px;
            }

            h4 {
                font-size: 5vw;
                font-weight: bold;
                margin-bottom: 0px !important;
            }

            span {
                font-size: 21px;
                font-weight: bold;
                color: #fd5e13;
            }
    
            h5 {
                font-size: 4vw;
                font-weight: bold;
                line-height: 15px;
                margin-bottom: 20px;
            }
    
            img {
                margin-top: 10px;
                height: 60px;
            }
        }
    }
}